html 
  height 100%
  font-size 100px
  color #222
h1, h2, h3, h4, h4, h6 
  margin 0 
  padding 0
h1 
  font-size .40rem 
h2
  font-size .36rem 
h3
  font-size .24rem 
h4
  font-size .18rem 
h5
  font-size .14rem 
h6
  font-size .12rem 
.center 
  position absolute
  left 50%
  top 50%
  transform translate3d(-50%, -50%, 0)
  -webkit-transform translate3d(-50%, -50%, 0)

body 
  height 100%
  padding 0 
  margin 0
#myCanvasTag
  height 100%
  width 100%

#main 
  height 100%
  width 100%
.main-swiper 
  height 100%
  width 100%
.sub-swiper 
  height 100%
  width 100%
.slide-0
  h1 
    margin-top -0.3rem
  h4 
    margin-top 0.3rem