doctype html
html
  head
    title webgl示例

    script(id="shader-fs", type="x-shader/x-fragment").
        void main(void) {
            gl_FragColor = vec4(1.0, 1.0, 1.0, 1.0);
        }
  

    script(id="shader-vs", type="x-shader/x-vertex").
      attribute vec3 aVertexPosition;

      uniform mat4 uMVMatrix;
      uniform mat4 uPMatrix;

      void main(void) {
        gl_Position = uPMatrix * uMVMatrix * vec4(aVertexPosition, 1.0);
      }
  body
    canvas#glcanvas(width="640", height="480")
    | Your browser doesn't appear to support the HTML5 <code>&lt;canvas&gt;</code> element.

    script(src="/static/common/jquery-2.1.4.min.js", type="text/javascript")
    script(src="/static/common/sylvester.js", type="text/javascript")
    script(src="/static/common/glUtils.js", type="text/javascript")

    script(src="http://127.0.0.1:9091/datappt/webgl.js", type="text/javascript")

